* {
    margin: 0;
}
body {
    background-color: lightgrey;
}
section {
}
h1 {
    text-align: center;
}
.xsmall-nav {
    display: flex;
    margin-top: 150px;
    max-height: 15em;
    width: 100%;
    background-color: white;
}
.navbar-img {
    height: 30vw;
    min-width: 105px;
    margin: auto;
}
.container {
    display: flex;
    justify-content: space-evenly;
}
.row{
    list-style: none;
    padding: 0;
    display: inline-flex;
    justify-content: space-between;
}
.col-sm-3 {
    text-decoration: none;
    color: black;
    display: flex;
}
