* {
    margin: 0;
}
body {
    background-color: #E6E6E6;
}
h1 {
    text-align: center;
    font-size: 3rem;
    margin-top: 3rem;
    font-family: 'Anton', sans-serif;
}
h3 {
    text-align: center;
    font-size: 1.6rem;
    font-family: 'Anton', sans-serif;
}
h6 {
    font-family: 'Abel', sans-serif;
}
a {
    text-decoration: none;
    color: black;
    display: flex;
    font-size: 4vw;
    font-family: 'Abel', sans-serif;
}
 a:hover {
    text-decoration: none;
}
 h5 {
     text-align: center;
     font-family: 'Abel', sans-serif;
 }
 img {
     width: 100%;
     border: 5px solid #F0F0F0;
 }
 footer {
     display: flex;
 }
#sec-list{
    list-style: none;
    padding: 0;
    display: inline-flex;
    justify-content: space-between;
}
#icon {
    list-style: none;
    /*justify-content: space-evenly;*/
}
.head {
    font-family: 'Abel', sans-serif;
}
.xs-nav {
    /*display: flex;*/
    /*margin-top: 100px;*/
    /*max-height: 75px;*/
    /*width: 100%;*/
    background-image:
            linear-gradient(
                    #E6E6E6,
                    #E6E6E6 25%,
                    #FFFFFF 25%,
                    #FFFFFF 75%,
                    #E6E6E6 75%
            )
}
.navbar-img {
    height: 210px;
    width: 210px;
    /*margin: auto;*/
    border: none;
    /*position: relative;*/
    /*top: -5.3rem;*/
}
.navbar-img2 {
    height: 105px;
    width: 105px;
    border: none;
}
.container {
    display: flex;
    justify-content: space-evenly;
}
.circle{
    border: 15px solid #F0F0F0;
    min-height: 15rem;
    min-width: 15rem;
    border-radius: 15rem;
    color: #F0F0F0;
    font-size: 3rem;
    /*line-height: 90px;*/
    /*margin-right: auto;*/
    font-family: 'Anton', sans-serif;
}
.circle2 {
    border: 7px solid #F0F0F0;
    min-height: 7rem;
    min-width: 7rem;
    border-radius: 5rem;
    color: #F0F0F0;
    font-size: 1rem;
    /*line-height: 90px;*/
    /*margin-right: auto;*/
    font-family: 'Anton', sans-serif;
}
.icon1 {
    background-color: #E6563B;
}
.icon2 {
    background-color: #DEA03D;
}
.icon3 {
    background-color: #7CB06C;
}
.icon4 {
    background-color: #00ABA9;
}
#xs-icon {
    list-style: none;
    /*justify-content: right;*/
}
.xs-circle {
    border-radius: 30px;
    min-height: 20px;
    min-width: 20px;
    margin: 3px;
    color: black;
    font-size: .8rem;
    text-align: center;
    font-weight: bold;
}
.xs-icon1 {
    background-color: #E6563B;
}
.xs-icon2 {
    background-color: #DEA03D;
}
.xs-icon3 {
    background-color: #7CB06C;
}
.xs-icon4 {
    background-color: #00ABA9;
}
